@media screen and (max-width: 600px) {
    .advice{
        background-color:hsl(218, 23%, 16%);
        position: relative;
        border-radius: .6rem;
        height: 150px;
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    
    .advice-body {
        height: 120px;
        padding: 1.2rem 1rem;
    }
    
    .advice-body .placeholder {
        margin-top: 2.5rem;
    }
    
    .advice-body h1{
        font-size: .9rem;
        color: hsl(150, 100%, 66%);
        margin-bottom: .6rem;
    }
    
    .advice-body p {
        font-size: 0.8rem;
        color: rgba(230, 230, 230, 0.815);
    }
    
    
}

@media screen and (min-width: 600px) {
    .advice{
        background-color:hsl(218, 23%, 16%);
        position: relative;
        border-radius: .6rem;
        height: 400px;
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    
    .advice-body {
        height: 120px;
        padding: 5rem 1rem;
    }
    
    .advice-body .placeholder {
        margin-top: 2.5rem;
    }
    
    .advice-body h1{
        font-size: 1.5rem;
        color: hsl(150, 100%, 66%);
        margin-bottom: .6rem;
    }
    
    .advice-body p {
        font-size: 1.3rem;
        color: rgba(230, 230, 230, 0.815);
    }
    
    
}








